<% include ../partials/header %>

<% for (var i = 0; i < Books.length; i++) { %>
  <%<p><b>Book.title</b></p>%>
  <%<p>Book.author</p>%>
  <%<p>Book.releaseDate</p>%>
<% } %>


<% include ../partials/footer %>
