<% include ../partials/header %>

  <div class="jumbotron">
    <div class="container text-center">
      <h1>Welcome to Mutably<br><small>Mutable, CRUD API</small></h1>
      <br>
      <a href="https://github.com/GuildCrafts/mutably" class="btn btn-lg btn-default"><i class="fa fa-github"></i> View the Docs</a>
    </div>
  </div>

  <!-- <img src="endpoints_docs.jpg" class="img-responsive"/> -->

<% include ../partials/footer %>
